! Font settings
! ================================================
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! Rofi
! ================================================
rofi.modi: drun
rofi.show-icons: true
rofi.hide-scrollbar: true
rofi.sidebar-mode: false
rofi.fullscreen: true
rofi.width: 50
rofi.padding: 300
rofi.lines: 10
rofi.line-margin: 10
rofi.columns: 2
rofi.bw: 0
rofi.location: 0
rofi.fuzzy: true
rofi.font: Iosevka Term Light 24

! NOTE rofi has deprecated below themes settings
! The new path ~/.conf/rofi/config.rasi
! Example themes:
! https://github.com/DaveDavenport/rofi-themes/tree/master/Official%20Themes

!                       bg         fg           altbg          hlbg       hlfg
rofi.color-normal: argb:00000000, #9eb0b5, argb:00000000, argb:de058942, #fbfbfb
rofi.color-urgent: argb:00000000, #e52530, argb:00000000, argb:dee52530, #fbfbfb
rofi.color-active: argb:00000000, #1f7ac4, argb:00000000, argb:de1f7ac4, #fbfbfb
rofi.color-window: argb:de07040a, argb:de07040a, argb:de07040a

! urxvt
! ================================================

! Colours - Default website theme
! https://protesilaos.com/
! NOTE modified color10 color12 to work better with dark bg
URxvt*background: [90]#07040a
URxvt*foreground: #9eb0b5
URxvt*cursorColor: #fbfbfb
URxvt*color0: #221a25
URxvt*color1: #e52530
URxvt*color2: #058942
URxvt*color3: #897600
URxvt*color4: #1f7ac4
URxvt*color5: #b25599
URxvt*color6: #108294
URxvt*color7: #e9e9e9
URxvt*color8: #07040a
URxvt*color9: #c65304
URxvt*color10: #5aa33c
URxvt*color11: #898440
URxvt*color12: #4b8dab
URxvt*color13: #8764c4
URxvt*color14: #9eb0b5
URxvt*color15: #fbfbfb

! Preferences
URxvt.termName: rxvt-unicode
URxvt.cursorBlink: true
URxvt.cursorUnderline: true
URxvt.saveLines: 5000
URxvt.intensityStyles: false
URxvt.depth: 32
URxvt.allow_bold: true
URxvt.font: xft:DejaVu Sans Mono:pixelsize=16
URxvt.boldFont: xft:DejaVu Sans Mono:pixelsize=16:bold
URxvt.italicFont: xft:DejaVu Sans Mono:pixelsize=16:italic
URxvt.bolditalicFont: xft:DejaVu Sans Mono:pixelsize=16:bold:italic
URxvt.letterSpace: -1
URxvt.lineSpace: 3
URxvt.scrollBar: false
Urxvt.secondaryScroll: true
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher:	firefox
URxvt.matcher.button: 1

! Key Bindings
! NOTE see https://superuser.com/questions/1247281/how-to-configure-rxvt-unicode-to-behave-similar-to-gnome-terminal-or-others-f
!
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false
! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:
! Bind Ctrl-c & Ctrl-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-c: eval:selection_to_clipboard
URxvt.keysym.C-v: eval:paste_clipboard

URxvt.keysym.Home: \033[H
URxvt.keysym.End:  \033[F

! clear the scrollback
URxvt.keysym.Control-l: command:\033c
