! Font settings
! ================================================
Xft.dpi: 96
Xft.antialias: true      
Xft.hinting: true
Xft.rgba: rgb 
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! Rofi
! ================================================
rofi.modi: run
rofi.hide-scrollbar: true
rofi.sidebar-mode: false
rofi.width: 800
rofi.lines: 10
rofi.columns: 1
rofi.bw: 0
rofi.location: 0
rofi.padding: 50
rofi.fuzzy: false
rofi.font: Iosevka Term Light 18

!                    bg       fg      altbg    hlbg     hlfg
rofi.color-normal: #17141A, #9eb0b5, #221a25, #8764C4, #f9f9f9
rofi.color-active: #17141A, #1A891C, #221a25, #8764C4, #1A891C
rofi.color-urgent: #DD3816, #9eb0b5, #BE5A14, #b9a600, #f9f9f9
rofi.color-window: #17141A, #17141A, #17141A

! urxvt
! ================================================

! Colours - Default website theme
! https://protesilaos.com/
! NOTE modified light base, the cyan and the yellow since I only use the dark for urxvt
URxvt*background: [90]#07040A
URxvt*foreground: #9eb0b5
URxvt*cursorColor: #1A891C
URxvt*color0: #221a25
URxvt*color1: #DD3816
URxvt*color2: #1A891C
URxvt*color3: #b9a600
URxvt*color4: #3575D4
URxvt*color5: #DC3259
URxvt*color6: #13a6c3
URxvt*color7: #e9e9e9
URxvt*color8: #07040A
URxvt*color9: #BE5A14
URxvt*color10: #5Aa33C
URxvt*color11: #898440
URxvt*color12: #4b8dab
URxvt*color13: #8764C4
URxvt*color14: #7eb0c5
URxvt*color15: #f9f9f9

! Preferences
URxvt.termName: rxvt-unicode
URxvt.cursorBlink: true
URxvt.saveLines: 5000
URxvt.intensityStyles: false
URxvt.depth: 32
URxvt.font: xft:Iosevka Term:size=13:antialias=true
URxvt.allow_bold: true
URxvt.letterSpace: -1
URxvt.scrollBar: false
Urxvt.secondaryScroll: true
URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher:	firefox
URxvt.matcher.button: 1

! Key Bindings
! NOTE see https://superuser.com/questions/1247281/how-to-configure-rxvt-unicode-to-behave-similar-to-gnome-terminal-or-others-f
!
! Disable ISO 14755 unicode input so we can use Ctrl-Shift bindings
URxvt.iso14755:        false
URxvt.iso14755_52:     false
! Disable Ctrl-Alt-c & Ctrl-Alt-v bindings (optional)
URxvt.keysym.C-M-c:    builtin-string:
URxvt.keysym.C-M-v:    builtin-string:
! Bind Ctrl-c & Ctrl-v to copy and paste
! I dont know why, but I needed to use hex keysym values to get it to work
URxvt.keysym.C-c: eval:selection_to_clipboard
URxvt.keysym.C-v: eval:paste_clipboard

URxvt.keysym.Home: \033[H
URxvt.keysym.End:  \033[F

! clear the scrollback
URxvt.keysym.Control-l: command:\033c
