[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Xfce4-notifyd
Comment=Start Xfce notifications daemon
Exec=/usr/lib/xfce4/notifyd/xfce4-notifyd
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false

